{% extends 'base.html' %}
{% block title %}Task{% endblock %}
{% block menu %}
        <li><a href="{% url 'task_list' %}">List Task</a></li>
        <li><a href="{% url 'task_update' tasks.pk %}">Edit</a></li>
        <li><a href="{% url 'task_delete' tasks.pk %}">Delete</a></li>



{% endblock %}
{% block content %}
    <h1>{{ tasks.description }}</h1>
    <p>Description task:  <b>{{ tasks.description }}</b> </p>
    <p>Status:  <b>{{ tasks.get_status_display }}</b> </p>
    <p>Date to completion: {{ tasks.date_of_completion }}</p>
    <p>Full description: <b>{{ tasks.full_description }}</b></p>
{% endblock %}
